.upmContainer {
    position: relative;
    font-family: Arial, sans-serif;
    width: 95vw;
    /* Slightly less than 100vw */
    height: 90vh;
    /* Slightly less than 100vh to account for top margin */
    margin: 30px auto;
    /* Adds a 30px margin on top and centers horizontally */
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    overflow-y: auto;
}

.upmHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
}

.upmBack-button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-right: auto;
}

.upmProfile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    flex-shrink: 0;
}

.upmUsername {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.upmLogout-button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.upmSearch-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.upmSearch-input {
    padding: 10px;
    width: 30ch;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.upmSearch-button,
.upmCreate-button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.upmUser-table {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr auto;
    gap: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
}

.upmTable-header {
    display: contents;
    font-weight: bold;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
}

.upmTable-row {
    display: contents;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.upmInspect-button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .item {
        display: grid;
        gap: 10px;
        padding: 5px;

        label {
            font-weight: bold;
            text-align: left;
            margin-left: 2em;
        }

        input {
            margin: 0em 2em 3px;
        }

        select {
            margin: 0em 2em 3px;
            border: 1px solid #ccc;
            border-radius: 5px;
            color: #ccc;
        }

        img {
            margin: 0em 2em 3px;
        }
    }
}

.swal2-select {
    margin: 1em 2em 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #ccc;
}