.ucamContainer {
    position: relative;
    font-family: Arial, sans-serif;
    width: 95vw; /* Slightly less than 100vw */
    height: 90vh; /* Slightly less than 100vh to account for top margin */
    margin: 30px auto; /* Adds a 30px margin on top and centers horizontally */
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    overflow-y: auto;
}

.ucamHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}
.ucamUserInfo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.ucamProfilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.ucamUsername {
    font-size: 16px;
    font-weight: bold;
}

.ucamLogoutButton {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #333;
    cursor: pointer;
}

.ucamButtonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.ucamActionButton {
    width: 45%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}